.card-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 30vh;
    max-width: 95rem;
    //overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    p {
        color: $secondary-colour;
        font-weight: bold;
    }
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    margin: 0;
}

.card-list .card-item {
    color: black;
    background-color: white;
    width: 500px;
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card-list .card-item.id-1 .holiday-image {
    border-color: $holiday-id-colour-1;
}

.card-list .card-item.id-2 .holiday-image {
    border-color: $holiday-id-colour-2;
}

.card-list .card-item.id-3 .holiday-image {
    border-color: $holiday-id-colour-3;
}

.card-list .card-item.id-4 .holiday-image {
    border-color: $holiday-id-colour-4;
}

.card-list .card-item.id-5 .holiday-image {
    border-color: $holiday-id-colour-5;
}

.card-list .card-item.id-6 .holiday-image {
    border-color: $holiday-id-colour-6;
}

.card-list .card-item.id-7 .holiday-image {
    border-color: $holiday-id-colour-7;
}

.card-list .card-item.id-8 .holiday-image {
    border-color: $holiday-id-colour-8;
}

.card-list .card-item.id-9 .holiday-image {
    border-color: $holiday-id-colour-9;
}

.card-list .card-item.id-10 .holiday-image {
    border-color: $holiday-id-colour-10;
}

.card-list .card-item .holiday-image {
    width: 450px;
    height: 300px;
    border: 6px solid;
}

.card-list .card-item .holiday-name {
    font-size: 1.15rem;
    color: black;
    font-weight: bold;
    margin: 14px 0px 0px;
}

.card-list .card-item .details-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: white;
    font-weight: bold;
    background-color: $secondary-colour;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s ease;

    &:hover {
        background-color: black;
        color: white;
    }
}