//background of the top nav bar
.topnav {
    background-color: $primary-colour;
    overflow: visible;
    /* Changed from 'hidden' */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 99px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 0.1rem;
    position: relative;


    .logo-image {
        position: relative;
        left: 0;
        z-index: 0;
    }

    //style the links within
    .nav-link {
        float: left;
        color: black;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        border-style: groove;
        border-top: hidden;
        border-bottom: hidden;
        border-left: hidden;
        border-width: 1px;
        padding-top: 2rem;
        height: 99px;
        border-color: rgba(0, 0, 0, 0.1);

        &:hover {
            color: $secondary-colour;
        }
    }

    //highlight the current page
    .active-nav-link {
        float: left;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        border-style: groove;
        border-top: hidden;
        border-bottom: hidden;
        border-width: 1px;
        padding-top: 2rem;
        height: 99px;
        background-color: white;
        color: $secondary-colour;
        border-color: rgba(0, 0, 0, 0.1);
    }

    .icon {
        display: none;
        float: left;
        color: black;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        padding-top: 2rem;
        height: 99px;
        border-color: rgba(0, 0, 0, 0.1);

        &:hover {
            color: $secondary-colour;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    order: 2;

    >.dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 170px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 10;
        top: 97%;
        left: 0;

        a {
            color: black;
            padding: 12px 10px;
            text-decoration: none;
            display: block;
            white-space: nowrap;

            &:hover {
                background-color: $secondary-colour;
                color: white;
            }
        }

        .dropdown {
            >.dropdown-content {
                top: 0;
                left: 100%;
                margin-top: -1px;
                margin-left: 1px;
                display: none;
            }

            &:hover>.dropdown-content {
                display: block;
            }
        }
    }

    &:hover>.dropdown-content {
        display: block;
    }
}

.nav-link {
    display: inline-block;
    padding: 16px;
}