.close-menu-button {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 15px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    color: white;
    background-color: $secondary-colour;
    border: none;
    padding: 10px;
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: darken($secondary-colour, 10%);
        color: black;
    }
}


.side-menu {
    z-index: 100;
    border-radius: 1px;
    border: 0.5px solid lightgray;
    border-top: hidden;
    border-bottom: hidden;
    border-right: hidden;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 0;
    visibility: hidden;
    right: 0;
    background-color: white;
    overflow: hidden;
    transition: width 0.3s ease-out, visibility 0s 0.2s;

    &.show {
        visibility: visible;
        width: 50vw;
        transition: width 0.2s ease-in;
    }

    &-nav {
        z-index: 101;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0); // Slide in from the top
        }
    }

    .nav-item {
        list-style: none;
        transform: translate3d(600px, 0, 0);
        border-radius: 1px;
        border: 0.5px solid lightgray;
        border-left: hidden;
        border-right: hidden;
        border-bottom: hidden;
        margin-left: 40px;
        margin-right: 40px;
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0); // Slide in from the right
        }

        &.current>a {
            color: $secondary-colour;
        }

        &.first {
            margin-top: 5vh;
            border-top: hidden;
        }

        &:hover {
            color: $secondary-colour; // Change the text color to secondary color on hover
            background-color: transparent; // Keep the background transparent on hover
        }
    }

    .nav-link,
    .dropdown-btn {
        display: inline-block;
        border: none;
        background-color: white;
        text-align: left;
        position: relative;
        font-size: 1rem;
        font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
        padding: 1rem 0;
        font-weight: bold;
        color: black;
        text-decoration: none;

        width: 100%; // Nav link takes up the full width of the container

        &:hover {
            color: $secondary-colour; // Change the text color to secondary color on hover
        }

        &.secondary {
            font-size: 1rem;
            font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
            padding: 8px 16px;
            font-weight: 400;
        }
    }

    .dropdown-container {
        display: none;
        background-color: white;
        z-index: 10;

        a {
            color: black;
            padding: 5px 16px;
            display: block;
            font-size: 1rem;
            font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
            padding: 0.5rem 3;
            //font-weight: bold;
            color: black;
            text-decoration: none;
        }

        &.secondary {
            padding: 0px 3rem;

        }

        a:hover {
            background-color: $secondary-colour;
            color: white;
        }

        &.show {
            display: block;
        }

        .fa-caret-down {
            //float: right; not working properly
            padding-right: 8px;
        }
    }


    .contact {
        transform: translate3d(600px, 0, 0);
        font-weight: bold;
        margin-top: 3rem;
        margin: 2rem;
        color: black;

        a {
            color: black;
        }

        &.show {
            transform: translate3d(0, 0, 0); // Slide in from the right
        }
    }

    // Delay each nav item slide by 0.1s
    @for $x from 1 through 7 {
        .nav-item:nth-child(#{$x}) {
            transition-delay: $x * 0.05s;
        }
    }
}