@import 'config'; //stores all variables and mixins
@import 'menu';

* {
    box-sizing: border-box;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.white-link {
    color: white;
    text-decoration: none;
}

.logo-image {
    @include logoImage();
    height: 99px;
    width: 350px;
    flex-shrink: 0;
}

//background of the top nav bar
.topnav {
    background-color: $primary-colour;
    overflow: visible;
    /* Changed from 'hidden' */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 99px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 0.1rem;
    position: relative;


    .logo-image {
        position: relative;
        left: 0;
        z-index: 0;
    }

    //style the links within
    .nav-link {
        float: left;
        color: black;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        border-style: groove;
        border-top: hidden;
        border-bottom: hidden;
        border-left: hidden;
        border-width: 1px;
        padding-top: 2rem;
        height: 99px;
        border-color: rgba(0, 0, 0, 0.1);

        &:hover {
            color: $secondary-colour;
        }
    }

    //highlight the current page
    .active-nav-link {
        float: left;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        border-style: groove;
        border-top: hidden;
        border-bottom: hidden;
        border-width: 1px;
        padding-top: 2rem;
        height: 99px;
        background-color: white;
        color: $secondary-colour;
        border-color: rgba(0, 0, 0, 0.1);
    }

    .icon {
        display: none;
        float: left;
        color: black;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 1rem;
        padding-top: 2rem;
        height: 99px;
        border-color: rgba(0, 0, 0, 0.1);

        &:hover {
            color: $secondary-colour;
        }
    }
}

/* Dropdown Menu */
.dropdown {
    order: 2;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    top: 99px;
    left: 0;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    a:hover {
        background-color: $secondary-colour;
        color: white;
    }
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background: $primary-colour;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5;

    header {
        padding-bottom: 2px;
        background-color: $secondary-colour;
    }

    .contact-details {
        float: left;
        padding-left: 20px;
        color: white;
        font-size: 13px;
    }

    .icons {
        a {
            float: right;
            color: black;
            margin-top: 0px;
            padding-right: 1rem;
            text-decoration: none;
            @include easeOut();

            &:hover {
                color: lightgray;
            }
        }
    }
}

.image-bar {
    background: $home-image;
    background-size: cover;
    background-position: center;
    height: 57vh;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 2rem;
        color: $secondary-colour;
    }

    &.sm-heading {
        font-weight: 600;
        margin-bottom: 2rem;
        padding: 0.2rem 0rem;
    }
}

a {
    color: $secondary-colour;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $accent-colour;
}

main {
    padding-top: 0rem;
    height: 100%;

    &#home {
        overflow: visible;

        h1 {
            margin-top: 5vh;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }

    .main-wrap {
        display: flex;
        justify-content: space-between;
    }

    .content-left,
    .content-right {
        width: 48%;
    }

    .footer {
        min-height: 40px;
    }
}

.content-left {
    margin-left: 12vw;
}

.content-right {}

.new-line {
    display: block;
}