@import 'config'; //stores all variables and mixins
@import 'side-menu'; //for the pop-out menu
@import 'menu-bar'; //for the top menu bar
@import 'image-slider'; //for the image slider on the homepage
@import 'card-slider'; //for the holiday info card slider

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.white-link {
    color: white;
    text-decoration: none;
}

.logo-image {
    @include logoImage();
    height: 99px;
    width: 350px;
    flex-shrink: 0;
}

body {
    background: $primary-colour;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5;

    header {
        width: 100vw;
        padding-bottom: 2px;
        background-color: $secondary-colour;
    }

    .contact-details {
        float: left;
        padding-left: 20px;
        color: white;
        font-size: 13px;
    }

    .icons {
        a {
            float: right;
            color: black;
            margin-top: 0px;
            padding-right: 1rem;
            text-decoration: none;
            @include easeOut();

            &:hover {
                color: lightgray;
            }
        }
    }
}

.image-bar {
    background-size: cover;
    background-position: center;
    height: 57vh;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 2.5rem;
        color: $secondary-colour;
    }

    &.sm-heading {
        font-weight: 600;
        margin-bottom: 2rem;
        padding: 0.2rem 0rem;
    }
}

a {
    color: $secondary-colour;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $accent-colour;
}

main {
    padding-top: 0rem;
    height: 100%;

    p {
        font-size: 17px;
    }

    &#home {
        overflow: visible;

        h1 {
            margin-top: 5vh;
            font-weight: bold;
            margin-bottom: 30px;
            font-size: 40px;
        }
    }

    .main-wrap {
        display: flex;
        justify-content: center;
    }

    .footer {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $secondary-colour;
        color: black;
        text-align: center;
        min-height: 40px;
    }
}

.content-left {
    display: block;
    margin-left: 12vw;
    width: 40vw;
    //margin-right: 11vw;
}

.content-right {
    display: block;
    margin-right: 12vw;
    margin-left: 5rem;
    width: 30vw;

    .interactive-button {
        background-color: $secondary-colour;
        margin-left: auto;
        margin-right: auto;
        min-width: 170px;
        width: 25vw;
        z-index: 10;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        transition: all 0.3s ease;
        margin-bottom: 20px;

        &:hover {
            background-color: $secondary-colour;
            color: white;
            background-color: black;
        }
    }
}

.central-content {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.new-line {
    display: block;
}

.gallery {
    width: 100%;

    .image {
        background-size: contain;
        background-position: center;
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        background-repeat: no-repeat;
    }

    #image1 {
        background-image: $sidebar-image1;
    }

    #image2 {
        background-image: $sidebar-image2;
    }

    #image3 {
        background-image: $sidebar-image3;
    }

    #image4 {
        background-image: $sidebar-image4;
    }

    .description {
        text-align: center;
        align-items: center;
    }
}

.info-box-grid {
    background-color: white;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-columns: 50px 1fr 50px 1fr;
    grid-gap: 5px;
}

.info-box {
    padding: 10px;
    color: black;

    h3 {
        display: inline-block;

        &.sm-heading {
            margin-bottom: 0.5rem;
        }
    }

    p {
        font-size: 16px;
    }
}

.dot {
    height: 50px;
    width: 50px;
    background-color: $secondary-colour;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    i {
        color: white;
        z-index: 1;
    }
}

.navigation-aid-square {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
    background-color: red;

    &.id-1 {
        background-color: $holiday-id-colour-1;
    }

    &.id-2 {
        background-color: $holiday-id-colour-2;
    }

    &.id-3 {
        background-color: $holiday-id-colour-3;
    }

    &.id-4 {
        background-color: $holiday-id-colour-4;
    }

    &.id-5 {
        background-color: $holiday-id-colour-5;
    }

    &.id-6 {
        background-color: $holiday-id-colour-6;
    }

    &.id-7 {
        background-color: $holiday-id-colour-7;
    }

    &.id-8 {
        background-color: $holiday-id-colour-8;
    }

    &.id-9 {
        background-color: $holiday-id-colour-9;
    }

    &.id-10 {
        background-color: $holiday-id-colour-10;
    }
}